.post h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;

}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form  label {
    margin-bottom: 0.5rem;
}

.form  input, 
.form textarea {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
}

.btn {
    background-color: #FFF;
    color: #0e1217;
    border: 1px solid #FFF;
    opacity: 1;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    max-width: 100px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    color: #fff;
    background-color: #0e1217;
}